<ngx-spinner color="#000" type="timer" [fullScreen]="true"></ngx-spinner>

<div class="product-detail-container">
    <div class="image-container">
        <div class="zoom-wrapper" (mousemove)="zoom($event)" (mouseleave)="resetZoom()">
            <img [src]="product?.imageURL" alt="{{product?.productName}}" class="product-image" #zoomImage>
            <div class="zoom-lens" #zoomLens></div>
        </div>
    </div>

    <div *ngIf="product" class="details-container">
        <h2>{{ product.productName }}</h2>
        <h3>Price: {{ product.price | currency: 'INR' }}</h3>
        <p>Decription: {{ product.productDescription }}</p>
        <p>Stock Quantity: {{ product.stockQuantity }}</p>
        <div class="action-container" *ngIf="product.stockQuantity > 0; else outOfStock">
            <button mat-icon-button class="share-icon" (click)="shareProduct()"><mat-icon>share</mat-icon></button>
            <button mat-icon-button color="warn" (click)="decreaseCount()"><mat-icon>remove</mat-icon></button>
            <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
            <span *ngIf="!loading" class="count-display">{{quantity}}</span>
            <button mat-icon-button color="primary" (click)="increaseCount()">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button color="primary"
                (click)="addToCart(product)"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
        <ng-template #outOfStock class="action-container">
            <h2 class="outOfStock">!Out Of Stock</h2>
        </ng-template>

        <div *ngIf="product" class="reviews-section">
            <h3>Product Reviews ({{averageRating}} <mat-icon class="average-rating">star</mat-icon> Rating) </h3>
            <div *ngIf="!hasUserReviewed; else editReviewSection" class="review-form">
                <div *ngIf="hasPurchased; else notPurchased">
                    <mat-form-field appearance="fill">
                        <mat-label>Your Review</mat-label>
                        <textarea matInput [(ngModel)]="newReviewText"></textarea>
                    </mat-form-field>
                    <div class="rating-stars">
                        <mat-icon *ngFor="let star of stars; let i = index" [class.filled]="i < newReviewRating"
                            (click)="setRating(i + 1)">star</mat-icon>
                        </div>
                        <button mat-raised-button color="primary" (click)="submitReview()">
                            <mat-icon>{{ editingProductReview ? 'edit' : 'add' }}</mat-icon>
                            {{ editingProductReview ? 'Edit Review' : 'Submit Review' }}
                        </button>
                </div>
                <ng-template #notPurchased>
                    <p>Please purchase the product to leave a review.</p>
                </ng-template>
            </div>
            <ng-template #editReviewSection>
                <div *ngIf="userReview" class="edit-review-section">
                    <p><strong>{{ userName }} (YOU):</strong> {{ userReview.comment }}</p>
                    <div class="rating-stars">
                        <mat-icon *ngFor="let star of stars; let i = index"
                            [class.filled]="i < userReview.rating">star</mat-icon>
                    </div>
                    <button mat-icon-button color="primary"
                        (click)="startEditingReview()"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button color="warn" (click)="deleteReview()"><mat-icon>delete</mat-icon></button>
                </div>
            </ng-template>
            <div *ngIf="reviews.length > 0; else noReviews" class="reviews-list">
                <div *ngFor="let review of reviews" class="review">
                    <div *ngIf="review.userID !== userId">
                        <p><strong>{{review.username}}:</strong> {{ review.comment }}</p>
                        <div class="rating-stars">
                            <mat-icon *ngFor="let star of stars; let i = index"
                                [class.filled]="i < review.rating">star</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noReviews>
                <p>Be the first one to review this product!</p>
            </ng-template>
        </div>
    </div>
    <!-- <app-user-reviews></app-user-reviews> -->
    <div class="suggested-products" *ngIf="suggestedProducts.length > 0">
        <h3>Suggested Products</h3>
        <div class="suggested-products-list">
            <div *ngFor="let product of suggestedProducts" class="suggested-product">
                <img [src]="product.imageURL" alt="{{ product.productName }}">
                <div class="product-info">
                    <p>{{ product.productName }}</p>
                    <p>{{ product.productDescription }}</p>
                    <p>{{ product.price | currency: 'INR' }}</p>
                    <a [routerLink]="['/user/product', product.productID]">View Details</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!product">
        <p>Loading product details...</p>
    </div>
</div>