.heading {
    display: flex;
    justify-content: space-between;
}

.share-icons {
    display: flex;
    justify-content: space-around;
}

.share-icons a {
    font-size: 2.5em;
}

.facebook {
    color: blue;
}

.twitter {
    color: black;
}

.linkedin {
    color: navy;
}

.whatsapp {
    color: green;
}

.instagram {
    color: purple;
}

.mat-dialog-content {
    text-align: center;
}

.product-link {
    text-align: center;
    margin-bottom: 10px;
}

.link {
    cursor: pointer;
}

.facebook,
.whatsapp,
.twitter,
.linkedin,
.instagram {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.facebook:hover,
.twitter:hover,
.whatsapp:hover,
.linkedin:hover,
.instagram:hover {
    transform: scale(1.25);
}