.breadcrumb-link {
    text-decoration: none;
    color: #3f51b5;
    font-weight: 500;
}

.breadcrumb-current {
    font-weight: bold;
    color: #000;
}

mat-icon {
    vertical-align: middle;
    padding: 0 8px;
}

mat-list-item {
    display: inline-flex;
    align-items: center;
}